.App {
  text-align: center;
  background-color: coral;
}

.champRotation{
  border: 2px solid black;
  height: 600px;
  width: 400px;
  background-color: cornsilk;
  margin-left: 40px;
}

.serverChoice{
  margin-top: 16px;
}

.h2FreeChamp{
 margin-left: 35px; 
}

.ChallengerLadders{
  background-color: cyan;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.ChallengerLaddersDiv{
  background-color: red;
  border: 2px solid black;
  height: 600px;
  width: 600px;
}

.champRotationChallengerLadder{
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.secondPage{
  display: flex;
  flex-direction: row;
}

.MasteryPointsDiv{
  border: 2px solid black;
  height: 600px;
  width: 400px;
  background-color: cornsilk;
}

.MasteryPoints{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.LastSearchesDiv{
  border: 2px solid black;
  height: 600px;
  width: 200px;
  background-color: cornsilk;
}

.LastSearches{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.ProfileDiv{
  border: 2px solid black;
  height: 700px;
  width: 700px;
  background-color: cornsilk;
}

.Profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px; 
}

.inProfiles{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}


/* MEDIA QUERIES FOR TABLET */
@media screen and (max-width:768px) and (min-width:376px){
  .App{
    background-color: chartreuse;
  }
  
  .Header{
    background-color: cornflowerblue;
  }

  .SearchBar{
    background-color: chartreuse;
  }

  .champRotationChallengerLadder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
  }

}

/* MEDIA QUERIES FOR PHONES */
@media screen and (max-width:375px){
  .App{
    background-color: tan;
  }
  
  .Header{
    background-color: cornflowerblue;
  }

  .SearchBar{
    background-color: chartreuse;
  }

  .champRotationChallengerLadder{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gold;
  }

  .champRotation{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ChampRotation{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}



